@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: "Roboto";
      src: local("Roboto"),
        url(.src/fonts/Roboto/Roboto-Regular.ttf) format("opentype");
    }
    @font-face {
      font-family: "Roboto";
      src: local("Roboto"),
        url(.src/fonts/Roboto/Roboto-Bold.ttf) format("opentype");
    }
  }

  * {
    font-size: 14px;

  }

.text-primary {
  color: #f4f4f5;
}
.text-secondary {
  color: #939393;
}

.text-dark {
  color:#181A30
}

.hover\:text-dark:hover {
  color:#181A30
}

.bg-primary {
  background-color: #333867;
background: -webkit-linear-gradient(to bottom right, #333867, #23285a);
background: linear-gradient(to bottom right, #333867, rgb(21, 25, 61));
}

.bg-secondary {
  background-color: #181a30;
}
